extends layout_admin

block content
    div.container
        h2 #{translation.DIFFICULTIES}

        table#tableDifficulties.highlight
            thead
                tr
                    th #{translation.NAME}

            tbody
                tr
                    td.tdEditable(colspan='2')
                        form(method='post')
                            .input-field.inline
                                input#name.validate(maxlength='50', type='text', name='name', required='')
                                label(for='name') #{translation.NAME}
                            button.right.btn.waves-effect.waves-light(type='submit', name='submit') #{translation.ADD}
                                i.material-icons.left add
                    td
                each difficulty in difficulties
                    tr(onclick='getAll(' + difficulty.id + ')')
                        .difficulty
                            td
                                value=difficulty.name
                            td
                                a(href="/admin/difficulties/remove/"+difficulty.id).right.red-text
                                    i.material-icons delete