extends layout_login

block content
    div.full-screen.teal.valign-wrapper
        div.container
            div.row
                div.right
                    a.black-text.dropdown-button(href="#!")&attributes({'data-activates': 'language-dropdown'}) Language
                        i.material-icons.left language
                        i.material-icons.right arrow_drop_down

                    ul(id="language-dropdown").dropdown-content
                        li
                            a(href="?clang=en") EN
                        li
                            a(href="?clang=fr") FR
                        li
                            a(href="?clang=de") DE

            div.row.valign-wrapper
                div.padding-center.margin-auto.card-panel
                    div.login-logo
                        include ../../public/images/logo.svg
                    h4 #{translation.LOGIN}
                    form(action='/', method='POST')
                        div.input-field
                            i.material-icons.prefix person
                            input#username(type='text', name='username')
                            label(for='username') #{translation.USERNAME}
                        div.input-field
                            i.material-icons.prefix lock
                            input#password(type='password', name='password')
                            label(for='password') #{translation.PASSWORD}
                        div.center-align
                             button.btn(type='submit', name='action') #{translation.LOGIN}
                        div.center-align.resetPass
                             label #{translation.RESETPASS}






