extends layout_login

block content
    div.full-screen.teal.valign-wrapper
        div.container
            div.row.valign-wrapper
                div.padding-center.margin-auto.card-panel
                    div.login-logo
                        include ../../public/images/logo.svg
                    h4 #{translation.LOGIN}
                    form(action='/', method='POST')
                        div.input-field
                            i.material-icons.prefix person
                            input#username(type='text', name='username')
                            label(for='username') #{translation.USERNAME}
                        div.input-field
                            i.material-icons.prefix lock
                            input#password(type='password', name='password')
                            label(for='password') #{translation.PASSWORD}
                        div.center-align
                             button.btn(type='submit', name='action') #{translation.LOGIN}
                        div.center-align.resetPass
                             label #{translation.RESETPASS}
                        div.center-align.language
                            a.black-text(href="?clang=en") EN
                            a.black-text(href="?clang=fr") FR
                            a.black-text(href="?clang=de") DE








