extends layout_admin


block extra-header
    link(rel="stylesheet", href="/css/track.css")
    script.
        var trackDetails = "#{JSON.stringify(track)}"

block content
    div.container
        h2 Track details
        div#track-map-canvas
        div.row.tab-of-contents
            div.col.s12
                ul.tabs.tabs-fixed-width.z-depth-1
                    li.tab.col.s3
                        a.active(href="#track-details-tab1") #{translation.TRACKDETAILS}
                    li.tab.col.s3
                        a(href="#track-details-tab2") #{translation.POSITIONS}
                    li.tab.col.s3
                        a(href="#track-details-tab3") #{translation.POISLIST}
                    li.tab.col.s3
                        a(href="#track-details-tab4") #{translation.PODSLIST}
            div.col.s12
                div#track-details-tab1.col.s12.card-panel
                    table.highlight
                        tbody
                            tr
                                th #{translation.ID}
                                td= track.id
                            tr
                                th #{translation.NAME}
                                td= track.name
                            tr
                                th #{translation.DISTANCE}
                                td #{Math.round(track.distance)}m
                            tr
                                th #{translation.DIFFICULTY}
                                td= track.difficulty
                            tr
                                th #{translation.ACCESSIBILITY}
                                td= track.isForEveryone
                            tr
                                th #{translation.PAUSEDURATION}
                                td= track.pauseDuration


                div(onmouseleave="clearPoint()")#track-details-tab2.col.s12.card-panel
                    table.highlight
                        thead
                            tr
                                th #{translation.ID}
                                th #{translation.ALTITUDE}
                                th #{translation.LATITUDE}
                                th #{translation.LONGITUDE}
                                th #{translation.TIME}
                                th Action
                        tbody
                            each position, index in track.positions
                                tr(onmouseover="highlightPoint("+position.latitude+","+position.longitude+")")
                                    td= index
                                    td= position.altitude
                                    td= position.latitude
                                    td= position.longitude
                                    td= position.time
                                    td
                                        a(href="/admin/tracks/"+track.id+"/removePoint/"+index).right.black-text
                                            i.material-icons.right delete
                div(onmouseleave="resetPOI()")#track-details-tab3.col.s12.card-panel
                    if(track.pois.length)
                        table.highlight
                            thead
                                tr
                                    th #{translation.ID}
                                    th #{translation.PICTURE}
                                    th #{translation.NAME}
                                    th #{translation.DESCRIPTION}
                                    th #{translation.ALTITUDE}
                                    th #{translation.LATITUDE}
                                    th #{translation.LONGITUDE}
                            tbody
                                each poi, index in track.pois
                                    tr(onmouseover="showPOI("+index+")")
                                        td= index
                                        td
                                            if poi.picture
                                                img.po-img.materialboxed(src='https://firebasestorage.googleapis.com/v0/b/santour-c0a51.appspot.com/o/' + poi.picture.replace('/', '%2F') + '?alt=media', )
                                        td= poi.name
                                        td= poi.description
                                        td= poi.position.altitude
                                        td= poi.position.latitude
                                        td= poi.position.longitude
                    else
                        div #{translation.NOPOIS}
                div(onmouseleave="resetPOD()")#track-details-tab4.col.s12.card-panel
                    if(track.pods.length)
                        table.highlight
                            thead
                                tr
                                    th #{translation.ID}
                                    th #{translation.PICTURE}
                                    th #{translation.NAME}
                                    th #{translation.DESCRIPTION}
                                    th #{translation.ALTITUDE}
                                    th #{translation.LATITUDE}
                                    th #{translation.LONGITUDE}
                            tbody
                                each pod, index in track.pods
                                    tr(onmouseover="showPOD("+index+")")
                                        td= index
                                        td
                                            if pod.picture
                                                img.po-img.materialboxed(src='https://firebasestorage.googleapis.com/v0/b/santour-c0a51.appspot.com/o/'+pod.picture.replace('/','%2F')+'?alt=media')
                                        td= pod.name
                                        td= pod.description
                                        td= pod.position.altitude
                                        td= pod.position.latitude
                                        td= pod.position.longitude
                    else
                        div #{translation.NOPODS}
    script(src='/js/admin/map.js', type="text/javascript")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgbiWlxTJT5fSxxdawlyu7fPGO-_JeYYo&callback=initMap")