extends layout_admin

block content
    div.container
        a.waves-effect.waves-light.btn.right.tracks-action(onclick='')
            i.material-icons.white-text file_download
        h2 #{translation.TRACKS}
        table.highlight
            thead
                tr
                    th #{translation.NAME}
                    th #{translation.DISTANCE}
                    th #{translation.TIMER}
                    th.right #{translation.ACTION}
            tbody#bodyTracks
                each track in tracks
                    tr
                        td= track.name
                        td #{Math.round(track.distance)} m
                        td= track.durationString
                        td
                            a(href="#track-delete-confirmation").right.black-text.modal-trigger
                                i.material-icons.right delete
                            a(href="/admin/tracks/exports/"+track.id).right.black-text
                                i.material-icons.right file_download
                            a(href="/admin/tracks/" + track.id).right.black-text
                                i.material-icons.right remove_red_eye

                    div#track-delete-confirmation.modal
                        div.modal-content
                            h4 #{translation.DELETECONFIRMATION}
                            p #{translation.DELETEMESSAGE}
                        div.modal-footer
                            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="/admin/tracks/remove/"+track.id) #{translation.CONFIRM}
                            a.modal-action.modal-close.waves-effect.waves-green.btn-flat #{translation.CANCEL}
