extends layout_admin

block content
    div.container
        a.waves-effect.waves-light.btn.right(onclick='newUserMode()')
            i.material-icons.right.white-text#personicon person_add
        a.waves-effect.waves-light.btn.right(onclick='')
            i.material-icons.right.white-text#fileicon file_download
        h2 #{translation.USERS}
        table#tableUsers.highlight
            thead
                tr
                    th #{translation.EMAIL}
                    th #{translation.TYPE}
                    th.right #{translation.ACTION}
            tbody
                each user in users
                    tr
                        .user
                            td
                                value=user.email
                            td
                                value=user.typeUser
                            td
                                a(href="/admin/users/delete/"+user.id).right.black-text
                                    i.material-icons delete
                                a(href="/admin/users/" + user.id).right.black-text
                                    i.material-icons remove_red_eye