extends layout_admin

block content
    div.container
        a.waves-effect.waves-light.btn.right.users-action(onclick='newUserMode()')
            i.material-icons.white-text person_add
        a.waves-effect.waves-light.btn.right.users-action(onclick='')
            i.material-icons.white-text file_download
        h2 #{translation.USERS}
        table#tableUsers.highlight
            thead
                tr
                    th #{translation.EMAIL}
                    th #{translation.TYPE}
                    th.right #{translation.ACTION}
            tbody
                each user in users
                    tr
                        .user
                            td
                                value=user.email
                            td
                                value=user.typeUser
                            td
                                a.right.black-text
                                    i.material-icons.right delete
                                a(href="/admin/users/" + user.id).right.black-text
                                    i.material-icons.right remove_red_eye