extends layout_admin

block content
    div.container
        h2 #{translation.USERDETAILS}
        div.row
            a#user-edit-off-button.waves-effect.waves-light.btn.right(onclick='lockUserEditMode()') #{translation.EDIT}
                i.material-icons.left close
            a#user-edit-on-button.waves-effect.waves-light.btn.right(onclick='unlockUserEditMode()') #{translation.EDIT}
                i.material-icons.left mode_edit
            form.col.s12
                div.row
                    div.input-field.col.s6
                        i.material-icons.prefix vpn_key
                        input#id.validate(type="text", placeholder=user.id, disabled)
                        label(for="id") #{translation.ID}
                    div.input-field.col.s6
                        i.material-icons.prefix email
                        input#email.validate(type="email", placeholder=user.email, disabled)
                        label(for="email") #{translation.EMAIL}
                    div.input-field.col.s6
                        i.material-icons.prefix group
                        select#usertype.validate(disabled)
                            option(value=user.typeUser, selected) #{user.typeUser}
                        label #{translation.TYPE}
                    div.input-field.col.s6
                        i.material-icons.prefix lock
                        input#oldpassword.validate(type="password", value=user.password, disabled)
                        label(for="oldpassword") #{translation.PASSWORD}
                    div#newpassword-input.input-field.col.s6
                        i.material-icons.prefix lock_outline
                        input#newpassword.validate(type="password", placeholder="")
                        label(for="newpassword") #{translation.PASSWORD}
                    div#confirmpassword-input.input-field.col.s6
                        i.material-icons.prefix lock_outline
                        input#confirmpassword.validate(type="password", placeholder="")
                        label(for="confirmpassword") #{translation.PASSWORD}
                div.row
                    button#user-edit-save-button.right.btn.waves-effect.waves-light(type="submit", name="action") Sauvegarder
                        i.material-icons.right save